---
layout: default
---

<section>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-6 px2 mt2">
      <img src="/assets/images/shu-uesugi.jpg" alt="{{ site.data.author.name}}" data-action="zoom" class="rounded">
    </div>
    <div class="sm-col sm-col-6 px2 py2">
      {% capture bio_string %}{% include author-bio.md %}{% endcapture %}
      {{ bio_string | markdownify }}
      <p>
        Photos on this page are taken by <a href="http://www.leahmoriyama.com/">Leah Moriyama</a>. Also, here's one of my recent tweets:
      </p>
      {% capture twitter_attrs %}
        {% unless site.data.featured_tweet.card %}
          data-cards="hidden"
        {% endunless %}
        {% unless site.data.featured_tweet.conversation %}
          data-conversation="none"
        {% endunless %}
      {% endcapture %}
      <blockquote class="twitter-tweet" {{ twitter_attrs }}><a href="https://twitter.com/chibicode/status/{{ site.data.featured_tweet.id }}"></a></blockquote>
      {% include ja-callout.html callout_class="sm-hide" %}
    </div>
  </div>
</section>
<div class="py2 sm-show"></div>
<section>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 h4">
        Featured Posts
      </h3>
      <ul class="list-reset mb0">
        {% for post in site.categories["en"] %}
          {% unless post.draft %}
            {% if post.featured %}
              {% include post-list-item.html %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 h4">
        Other Posts
      </h3>
      {% include ja-callout.html callout_class="sm-show" %}
      <ul class="list-reset mb0">
        {% for post in site.categories["en"] %}
          {% unless post.draft %}
            {% unless post.featured %}
              {% include post-list-item.html %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<div class="py3"></div>
<h1 class="h2 mt0 mb1">
  <a href="{{ "/jp" | prepend:site.baseurl }}" class="td-none">{{ site.data.author.ja_name }}</a>
</h1>
{% include jp-top.html %}
