---
layout: default
---
<section>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-6 px2 mt2">
      <img src="/assets/images/og-image.jpg" alt="Shu Uesugi" data-action="zoom" class="rounded">
    </div>
    <div class="sm-col sm-col-6 px2 py2">
      {% capture bio_string %}{% include author-bio.md %}{% endcapture %}
      {{ bio_string | markdownify }}
      <p>
        Photo taken at <a href="https://twitter.com/ReactEurope/status/619192524612239360">React.js Europe 2015 in Paris</a>. Also, here's one of my recent tweets:
      </p>
      {% capture twitter_attrs %}
        {% unless site.data.featured_tweet.card %}
          data-cards="hidden"
        {% endunless %}
        {% unless site.data.featured_tweet.conversation %}
          data-conversation="none"
        {% endunless %}
      {% endcapture %}
      <blockquote class="twitter-tweet" {{ twitter_attrs }}><a href="https://twitter.com/chibicode/status/{{ site.data.featured_tweet.id }}"></a></blockquote>
      {% include ja-callout.html callout_class="sm-hide" %}
    </div>
  </div>
</section>
<div class="py2 sm-show"></div>
<section>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 h4">
        Featured Posts
      </h3>
      <ul class="list-reset mb0">
        {% for post in site.categories["en"] %}
          {% unless post.draft %}
            {% if post.featured %}
              {% include post-list-item.html %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 h4">
        Other Posts
      </h3>
      {% include ja-callout.html callout_class="sm-show" %}
      <ul class="list-reset mb0">
        {% for post in site.categories["en"] %}
          {% unless post.draft %}
            {% unless post.featured %}
              {% include post-list-item.html %}
            {% endunless %}
                    {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<div class="py2 sm-show"></div>
<section id="japanese">
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 h4 heading--ja">
        人気エントリー
      </h3>
      <ul class="list-reset mb0">
        {% for post in site.categories["ja"] %}
          {% unless post.draft %}
            {% if post.featured %}
              {% include post-list-item.html %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 h4 heading--ja">
        その他のエントリー
      </h3>
      <ul class="list-reset mb0">
        {% for post in site.categories["ja"] %}
          {% unless post.draft %}
            {% unless post.featured %}
              {% include post-list-item.html %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<div class="py2 sm-show"></div>
