---
---

@import "normalize";
@import "vars-typeplate";
@import "typeplate";
@import "highlight";

body {
  padding: 3rem 0 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #eee;
  margin: 1.5em 0;
}

a {
  color: inherit;
}

code, pre {
  font-family: 'Inconsolata', monospace;
}

code {
  font-family: inherit;
  background: #eee;
}

pre {
  padding: 0.25rem 0.5rem;
  background: #eee;
  margin: 0 0 1.5em;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 32em;
}

p > img {
  max-width: 100%;
}

iframe {
  margin-bottom: $indent-val !important;
}

blockquote {
  color: #999;
}

.home a, .post-title a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.home-title {
  margin-bottom: 3rem;
}
