<section>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-6 px2 mt2">
      <img src="/assets/images/shu-uesugi-2.jpg" alt="{{ site.data.author.name }}" data-action="zoom" class="rounded">
    </div>
    <div class="sm-col sm-col-6 px2 py2">
      <div class="body--ja">
        {% capture bio_string %}{% include author-bio-jp.md %}{% endcapture %}
        {{ bio_string | markdownify }}
        <p>
          {% if page.show_en_callout %}
            英語でも記事を書いています。<a href="{{ "/archive" | prepend:site.baseurl }}" class="inline--ja">こちらからどうぞ</a>。{% endif %}
        </p>
      </div>
    </div>
  </div>
</section>
<div class="py1 sm-show"></div>
<section>
  <div class="clearfix mxn2">
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 h4 heading--ja">
        最も読まれた記事 (はじめて訪問してくださった方はこちらから)
      </h3>
      <ul class="list-reset mb3">
        {% for post in site.categories["ja-most-popular"] %}
          {% unless post.draft %}
            {% include post-list-item.html %}
          {% endunless %}
        {% endfor %}
      </ul>
      <h3 class="mt0 h4 heading--ja">
        その他の記事
      </h3>
      <ul class="list-reset mb3">
        {% for post in site.categories["ja-popular"] %}
          {% unless post.draft %}
            {% include post-list-item.html %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
    <div class="sm-col sm-col-6 px2 py2">
      <h3 class="mt0 mb2 h4 heading--ja">
        Twitterの投稿など
      </h3>

      <blockquote class="twitter-tweet" data-lang="en"><p lang="ja" dir="ltr">ブログ書きました → あなたが知らないシリコンバレーの歴史 <a href="https://t.co/53Xipsemxc">https://t.co/53Xipsemxc</a> <a href="https://t.co/roaAoldDCW">pic.twitter.com/roaAoldDCW</a></p>&mdash; Shu Uesugi (@chibicode) <a href="https://twitter.com/chibicode/status/708446668732145664">March 12, 2016</a></blockquote>

      <blockquote class="twitter-tweet" data-lang="en"><p lang="ja" dir="ltr">🆕 あたらしいブログ記事を書きました。こういうタイプの記事は書くのが最初で最後になるかもしれません。→ 「タンポポ丘・アンネの家・任天堂」に置いてきたもの <a href="https://t.co/E22TPsA3gd">https://t.co/E22TPsA3gd</a></p>&mdash; Shu Uesugi (@chibicode) <a href="https://twitter.com/chibicode/status/696147666669948929">February 7, 2016</a></blockquote>

      <blockquote class="twitter-tweet" lang="ja"><p lang="ja" dir="ltr">メリクリです。NHK・Eテレ『<a href="https://twitter.com/hashtag/%E3%83%8B%E3%83%83%E3%83%9D%E3%83%B3%E3%81%AE%E3%82%B8%E3%83%AC%E3%83%B3%E3%83%9E?src=hash">#ニッポンのジレンマ</a>』元日スペシャル放映まであと一週間となり、番組宣伝のためにブログを書きました。タイトルはアレですが、内容は真面目です。放送は元日夜11pm/NHKです。<a href="https://t.co/dMvRoxuUgB">https://t.co/dMvRoxuUgB</a> <a href="https://twitter.com/hashtag/%E3%82%B8%E3%83%AC%E3%83%B3%E3%83%9E2016?src=hash">#ジレンマ2016</a> <a href="https://twitter.com/hashtag/%E3%82%B8%E3%83%AC%E3%83%B3%E3%83%9E?src=hash">#ジレンマ</a></p>&mdash; Shu Uesugi (@chibicode) <a href="https://twitter.com/chibicode/status/680363172402839552">December 25, 2015</a></blockquote>

      <blockquote class="twitter-tweet" lang="en"><p lang="ja" dir="ltr">✏️ 教育についてブログを書きました。翻訳でない長文記事はひさびさに書いたかもしれません → 読み書きそろばん物語・「新しい教育」の話をしよう <a href="https://t.co/Zdax4p2Uap">https://t.co/Zdax4p2Uap</a></p>&mdash; Shu Uesugi (@chibicode) <a href="https://twitter.com/chibicode/status/661000846365212672">November 2, 2015</a></blockquote>

      <blockquote class="twitter-tweet" lang="en"><p lang="ja" dir="ltr">シリコンバレーを訪れてくれた日本の学生向けに講演をしました。タイトルは「<a href="https://twitter.com/hashtag/%E5%9C%B0%E7%8D%84%E3%81%AE%E3%82%B5%E3%83%B3%E3%83%95%E3%83%A9%E3%83%B3%E3%82%B7%E3%82%B9%E3%82%B3?src=hash">#地獄のサンフランシスコ</a>」で、サンフランシスコの高騰する家賃についてです。 💸&#10;&#10;スライドと動画はこちら! → <a href="http://t.co/NLjSnrNMmO">http://t.co/NLjSnrNMmO</a> <a href="http://t.co/r2wasZiQBK">pic.twitter.com/r2wasZiQBK</a></p>&mdash; Shu Uesugi (@chibicode) <a href="https://twitter.com/chibicode/status/646838522599477248">September 24, 2015</a></blockquote>

      <blockquote class="twitter-tweet" lang="en"><p lang="ja" dir="ltr">「恐怖、シリコンバレーの真実！！！」「<a href="https://twitter.com/hashtag/%E5%9C%B0%E7%8D%84%E3%81%AE%E3%82%B7%E3%83%AA%E3%82%B3%E3%83%B3%E3%83%90%E3%83%AC%E3%83%BC?src=hash">#地獄のシリコンバレー</a>」についての私見 <a href="http://t.co/U4PHPE1FHD">http://t.co/U4PHPE1FHD</a> via <a href="https://twitter.com/chibicode">@chibicode</a></p>&mdash; Shu Uesugi (@chibicode) <a href="https://twitter.com/chibicode/status/597972315670908928">May 12, 2015</a></blockquote>

      <blockquote class="twitter-tweet" data-lang="en"><p lang="ja" dir="ltr">1年半ぶりに読み返したのでシェア → ビジネス・イン・ジャパン <a href="https://t.co/T3YxEHA4yU">https://t.co/T3YxEHA4yU</a></p>&mdash; Shu Uesugi (@chibicode) <a href="https://twitter.com/chibicode/status/718229902454091776">April 8, 2016</a></blockquote>

      <h3 class="mt3 h4 heading--ja">
        黒歴史
      </h3>
      <ul class="list-reset mb0">
        {% for post in site.categories["ja-others"] %}
          {% unless post.draft %}
            {% include post-list-item.html %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<div class="py2 sm-show"></div>
