<div class="clearfix">
  <div class="left mr1">
    <img src="{{ site.data.author.image_url }}" width="75" alt="{{ site.data.author.name }}" data-action="zoom" class="circle">
  </div>
  <div class="overflow-hidden">
    {% if page.categories contains "en" %}
      <h4 class="mt0">
        {{ site.data.author.name}}
      </h4>
      {% capture md %}{% include author-bio.md %}{% endcapture %}{{ md | markdownify }}
      <p>
        There are {{ site.categories["en"] | size | minus:1 }} more posts on this blog. <a href="{{ "/" | prepend:site.baseurl }}">You can read them here</a>.
      </p>
    {% else %}
      <h4 class="mt0">
        {{ site.data.author.ja_name}}
      </h4>
      <div class="body--ja">
        {% capture md %}{% include author-bio-jp.md %}{% endcapture %}{{ md | markdownify }}
        <p>
          ほかにも{{ site.categories["ja"] | size | minus:1 }}件の記事があります。<a href="{{ "/jp" | prepend:site.baseurl }}" class="bold">こちらからどうぞ</a>。{% if page.next_recommend_url %}おすすめは、<a href="{{ page.next_recommend_url }}" class="bold">{{ page.next_recommend_title }}</a>という記事です。{% endif %}
        </p>
      </div>
    {% endif %}
</div>
