<!-- NOTE: Do not try to center these buttons via text-align. That was causing a bug on mobile Chrome
           where the page size shrinks then enlarges on page load. -->
<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.data.author.twitter_user_name }}" data-size="large" data-dnt="true" data-text="{{ page.title | xml_escape }}"></a>
<a href="https://twitter.com/chibicode" class="twitter-follow-button" data-show-count="true" data-dnt="true" data-size="large" data-show-screen-name="false"></a>
