body {
  /* Workaround for: https://code.google.com/p/chromium/issues/detail?id=319623 */
  font-size: 1.8em;

  /* Adjust from defaults */
  letter-spacing: 0;
  line-height: 1.75;

  /* Prettier text */
  opacity: 0.99;
}

.menu-button {
  float: left;
}

.post-list {
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
}

.post-list-item {
  margin-bottom: 1.5rem;
}

.post-list-metadata {
  font-family: "Open Sans", sans-serif;
  color: #9EABB3;
  font-size: 1.3rem;
  display: block;
  margin-top: -0.5rem;
}

.post-list-date {
  text-transform: uppercase;
}

.post-list-link {
  text-decoration: none;
}

.post-list-title {
  display: block;
}

.post-list-link:hover .post-list-title {
  text-decoration: underline;
}

.page-author-header {
  position: relative;
  margin: 3.2em 0 0 0;
  padding: 5.4em 0 0 0;
  border-top: #EBF2F6 1px solid;
}

.category-navigation-links {
  float: right;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  display: block;
  padding-left: 1rem;
  padding-bottom: 1rem;
  color: #9EABB3;
}

.category-navigation-links a {
  color: inherit;
  text-decoration: none;
}

.category-navigation-separator {
  padding: 0 0.5rem;
  color: #EBF2F6;
}

.post-content {
  padding-bottom: 3rem;
}

.share iframe {
  margin: 1rem 0;
}

@media only screen and (max-width: 500px) {
  .share iframe {
    margin-left: auto;
    margin-right: auto;
  }
}
