.twitter-tweet {
  margin-bottom: 1.75em !important;
}

.gist {
  margin-bottom: 1.75em !important;
}

.gist table {
  width: auto !important;
}

.gist td, .gist pre {
  background-color: transparent !important;
}
