@import "./zoom.css";
@import "basscss/src/basscss.css";

:root {
  --font-family: SF UI Text,Roboto,Avenir Next,Helvetica Neue,Helvetica,sans-serif;
  --black: #212121;
  --body-color: #616161;
  --link-color: #D81B60;
  --border-color: #eee;
  --space-1: .75rem;
  --space-2: 1.5rem;
  --space-3: 3rem;
  --space-4: 6rem;
}

body {
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black);
}

.td-none {
  text-decoration: none;
}

.td-none:hover {
  text-decoration: none;
}

.bg-border-color {
  background-color: var(--border-color);
}

blockquote {
  margin-left: 0;
  padding-left: var(--space-2);
  border-color: var(--border-color);
  border-left-width: var(--space-1);
  border-left-style: solid;
  font-style: italic;
}

.fluid-width-video-wrapper {
  margin-bottom: var(--space-2);
}

/*@media (--breakpoint-lg) {
  html {
    font-size: 112.5%;
  }
}*/
