@import "./zoom.css";
@import "basscss/src/basscss.css";

/* See: https://github.com/basscss/defaults/blob/master/index.css */
:root {
  /* Avenir looks like shit on weight 300 for mobile */
  --font-family: SF UI Text,Roboto,Helvetica Neue,Helvetica,sans-serif;
  --ja-font-family: "游ゴシック体", "Yu Gothic", YuGothic, SF UI Text,Roboto,Helvetica Neue,Helvetica,sans-serif;
  --ja-body-font-weight: 400;
  --body-font-size: 1rem;
  --black: #212121;
  --body-color: #515151;
  --link-color: #D81B60;
  --border-color: #eee;
  --space-1: .75rem;
  --space-2: 1.5rem;
  --space-3: 3rem;
  --space-4: 6rem;
  --border-radius: 5px;
  --heading-margin-top: 2em;
  --heading-font-weight: 600;
  --line-height-ja: 1.8;
  --monospace-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body, .regular {
  font-weight: 300;
}

hr {
  margin-bottom: var(--space-2);
}

code {
  background-color: var(--border-color);
}

kbd {
  background-color: var(--border-color);
  font-family: var(--monospace-font-family);
}

pre {
  background-color: var(--border-color);
  padding: var(--space-1);
  overflow-x: auto; /* Override */
}

iframe {
  max-width: 100% !important;
  box-sizing: border-box;
}

.gist, .twitter-tweet {
  margin-bottom: var(--space-2) !important;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black);
}

.td-none {
  text-decoration: none;
}

.td-none:hover {
  text-decoration: none;
}

.bg-border-color {
  background-color: var(--border-color);
}

blockquote {
  margin-left: 0;
  padding-left: var(--space-2);
  border-color: var(--border-color);
  border-left-width: 10px;
  border-left-style: solid;
  font-style: italic;
}

.fluid-width-video-wrapper {
  margin-bottom: var(--space-2);
}

.inline--ja,
.heading--ja,
.body--ja h1,
.body--ja h2,
.body--ja h3,
.body--ja h4,
.body--ja h5,
.body--ja h6  {
  font-family: var(--ja-font-family);
}

.inline--ja {
  font-weight: var(--ja-body-font-weight);
}

.body--ja {
  line-height: var(--line-height-ja);
  font-family: var(--ja-font-family);
  font-weight: var(--ja-body-font-weight);
}

.body--ja blockquote {
  font-style: normal;
}

@media (--breakpoint-lg) {
  html {
    font-size: 18px;
  }
}
