<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend:site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/chibicode.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.data.meta.site_title }}</title>
    {% include head.html %}
  </head>
  {{ content }}
</html>
