<!DOCTYPE html>
<html {% if page.categories contains "ja" %}lang="ja"{% else %}lang="en"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend:site.baseurl }}">
    <!-- <link rel="canonical" href="{{ site.github.url }}{{ page.url | remove:'index.html' }}/"> -->
    <title>{% if page.title %}{{ page.title }} | {% endif %}{% include title.html %}</title>
    {% include head.html %}
    {% unless site.github %}
      <script>
        document.write('<script src="' + window.location.origin + '/webpack-dev-server.js"></scr' + 'ipt>');
      </script>
    {% endunless %}
    <script src="/assets/bundle.js"></script>
  </head>
  <body>
    <div class="py2 sm-show"></div>
    <div class="container px2 py2">
      <header>
        <h1 class="mt1 mb1 h2 {% if page.centered_layout %}mx-auto lg-col-7 md-col-8 sm-col-9 muted{% endif %}">
          <a href="{% if page.categories contains "ja" %}{{ "/jp" | prepend:site.baseurl }}{% else %}{{ "/" | prepend:site.baseurl }}{% endif %}" class="black td-none">{% include title.html %}</a>
        </h1>
      </header>
      {{ content }}
      <section class="py3 center border-top muted">
        <a href="{% if page.categories contains "ja" %}{{ "/jp" | prepend:site.baseurl }}{% else %}{{ "/" | prepend:site.baseurl }}{% endif %}" class="bold td-none">{% include title.html %}</a>
        {% if page.categories contains "ja" %}
          <span class="muted">&middot;</span>
          <a href="{{ "/" | prepend:site.baseurl }}" class="td-none">英語ページ</a>
        {% endif %}
        <span class="muted">&middot;</span>
        <a href="mailto:shu@chibicode.com" class="td-none">shu@chibicode.com</a>
        <span class="muted">&middot;</span>
        <a href="http://twitter.com/chibicode" class="td-none">@chibicode</a>
        <span class="muted">&middot;</span>
        <a href="http://creativecommons.org/licenses/by-sa/4.0/" class="td-none">CC BY-SA</a>
        <span class="muted">&middot;</span>
        Photos by <a href="http://www.leahmoriyama.com/">Leah Moriyama</a>
      </section>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32987822-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
    <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
