---
layout: default
---

<body class="post-template">
  <div class="site-wrapper">
    <header class="main-header post-head no-cover">
    </header>

    <main class="content" role="main">
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">{{ site.data.meta.site_title }}</h1>
        </header>
        <section class="post-content">
          {{ content }}
        </section>
        <div class="page-author-header">
          <figure class="author-image">
            <a class="img" href="{{ site.data.meta.author.image_url }}" style="background-image: url({{ site.data.meta.author.image_url }})"><span class="hidden">{{name}}'s Picture</span></a>
          </figure>
        </div>
        <section class="post-content">
          {% for category_name in site.data.meta.ordered_categories_downcase %}
            {% if category_name == "japanese essays" %}
              <span id="japanese"></span>
              <hr>
            {% else %}
              <div class="category-navigation-links">
                <a href="#japanese" class="category-navigation-link">日本語の記事はこちら &darr;</a>
              </div>
            {% endif %}
            <h3>{{ category_name }}</h3>
            {% assign posts_in_category = site.categories[category_name] %}
            <ul class="post-list">
              {% for post in posts_in_category %}
                {% unless post.draft %}
                  <li class="post-list-item">
                    <a href="{{ post.url | prepend:site.baseurl}}" class="post-list-link">
                      <span class="post-list-title">
                        {% if post.featured %}<strong>{% endif %}
                          {{ post.title }}
                        {% if post.featured %}</strong>{% endif %}
                      </span>
                      <span class="post-list-metadata">
                        <span class="post-list-date">
                          {% if post.featured %}
                            ★ Featured &middot;
                          {% endif %}
                          {{ post.date | date_to_string }}
                        </span>
                      </span>
                    </a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          {% endfor %}
        </section>
      </div>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
  </div>
</body>
