---
layout: default
---

<main class="py2 clearfix">
  <article class="mx-auto lg-col-7 md-col-8 sm-col-9">
    <header class="mb2">
      <h1 class="mt0 mb1 {% if page.categories contains "ja" %}heading--ja{% endif %}">{{ page.title }}</h1>
      <section class="muted mb1">
        <time datetime="{{ page.date | date_to_xmlschema}}">
          {% if page.categories contains "ja" %}
            {{ page.date | date: "%Y年%-m月%-d日" }}
          {% else %}
            {{ page.date | date_to_string }}
          {% endif %}
        </time>
      </section>
      <div style="min-height: 35px">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.data.author.twitter_user_name }}" data-size="large" data-dnt="true" data-text="{{ page.title | xml_escape }}"></a>
      </div>
    </header>

    <section class="mb3 js-post-content {% if page.categories contains "ja" %}body--ja{% endif %}">
      {% if page.ts or page.prev or page.draft %}
      <p class="p1 bg-darken-1 rounded">
        {% if page.ts %}
          This post is written in <a href="http://www.buzzfeed.com/charliewarzel/why-twitters-newest-tweetstormtm-trend-must-be-stopped">Tweetstorm™</a> form.
        {% endif %}
        {% if page.prev %}
          {% if page.categories contains "ja" %}
            <a href="{{ page.prev | prepend: "/" | prepend:site.baseurl }}">前の記事はこちら</a>。
          {% else %}
            Continued from <a href="{{ page.prev | prepend: "/" | prepend:site.baseurl }}">the previous article</a>.
          {% endif %}
        {% endif %}
        {% if page.draft %}
          {% if page.categories contains "ja" %}
            この記事は下書きです。シェアしないでください。
          {% else %}
            This post is a draft. Please don't tweet/share.
          {% endif %}
        {% endif %}
      </p>
      {% endif %}
      {{content}}
    </section>
    <p class="mb1">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.data.author.twitter_user_name }}" data-size="large" data-dnt="true" data-text="{{ page.title | xml_escape }}"></a>
    </p>

    <div class="py1 sm-show"></div>
    <footer>
      <section class="py3 border-top">
        {% include post-footer.html %}
      </section>

      <section class="mb3">
        <!-- NOTE: Do not try to center these buttons via text-align. That was causing a bug on mobile Chrome
                   where the page size shrinks then enlarges on page load. -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.data.author.twitter_user_name }}" data-size="large" data-dnt="true" data-text="{{ page.title | xml_escape }}"></a>
        <a href="https://twitter.com/chibicode" class="twitter-follow-button" data-show-count="true" data-dnt="true" data-size="large" data-show-screen-name="false"></a>
      </section>
    </footer>
  </article>
</main>
