---
layout: default
---

<main class="py2 clearfix">
  <article class="mx-auto lg-col-7 md-col-8 sm-col-9">
    <header class="mb3">
      <h1 class="mt0 mb1">{{ page.title }}</h1>
      <section class="muted">
        <time datetime="{{ page.date | date_to_xmlschema}}">{{ page.date | date_to_string }}</time>
      </section>
    </header>
    <section class="mb3 js-post-content">
      {% if page.draft %}
        <div class="p2 border bg-border-color mt2 mb2 rounded">
          Note: This post is an unpublished draft. Stay tuned!
        </div>
      {% endif %}
      {{content}}
    </section>

    <div class="py1 sm-show"></div>
    <footer>
      <section class="py3 border-top">
        <div class="clearfix">
          <div class="left mr1"><img src="{{ site.data.meta.author.image_url }}" width="75" alt="{{ site.data.meta.author.name }}" class="circle"></div>
          <div class="overflow-hidden">
            <h4 class="mt0">{{ site.data.meta.author.name}}</a></h4>
            {% capture md %}{% include author-bio.md %}{% endcapture %}{{ md | markdownify }}
        </div>
      </section>

      <section class="center mb3">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.data.meta.author.twitter_user_name }}" data-size="large" data-dnt="true">Tweet</a>
        <a href="https://twitter.com/chibicode" class="twitter-follow-button" data-show-count="false" data-dnt="true" data-size="large" data-show-screen-name="false">Follow @chibicode</a>
      </section>
    </footer>
  </article>
</main>
