<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Shu Uesugi is a designer/developer based in San Francisco Bay Area.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shu Uesugi</title>
  <link href='//fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/solo.css">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend:site.baseurl }}">
</head>
<body>
  <div class="container">
    <h1><a href="./">Shu Uesugi</a></h1>
    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
